<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="discord-bot-jlg/tests/phpunit/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="Discord Bot - JLG">
            <file>discord-bot-jlg/tests/phpunit/Test_Discord_Bot_JLG_Http_Client.php</file>
            <file>discord-bot-jlg/tests/phpunit/Test_Discord_Bot_JLG_API.php</file>
        </testsuite>
    </testsuites>
</phpunit>
